/* */
#container {
    height: 75vmin;
    width: 75vmin;
    display: inline-grid;
    /* grid-template: repeat(16, 1fr) / repeat(16, 1fr); */
}

#options {
    display: flex;
}

#title {
    font-size: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    display: inline-grid;
    background-color: gainsboro;
}

.hover {
    background-color: gray;
}
