/* */
#container {
    height: 75vmin;
    width: 75vmin;
    display: inline-grid;
    /* grid-template: repeat(16, 1fr) / repeat(16, 1fr); */
}

#options {
    display: flex;
}

.square {
    display: inline-grid;
    background-color: gainsboro;
}

.hover {
    background-color: gray;
}
